@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

.topnavbar {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF !important;
    font-family: 'roboto';
    font-weight: 500;

}

.menudesign {
    margin-left: 30px;
    margin-top: 27px;


}

* {
    margin: 0;
    padding: 0;
}

.logo {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.searchicon {
    width: 16px;
    height: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 77px;
}

.form-control {
    border: none !important;
    width: 150px !important;
    height: 21px !important;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.notification {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile {
    margin-left: 52px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.dropdesign {
    margin-left: 12px;
    margin-top: 28px;
    margin-bottom: 30px;
    border: none;
    margin-right: 44px;
}

.toprightnavbar {
    display: flex;
}

.topleftnavbar {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 80px;
    width: 227px;
    height: 100%;
    background-color: #FFFFFF;
    font-family: 'roboto';
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: #3E3E3E;

}

.eachsidemenu {
    padding-top: 32px;
}

body {
    background-color: #FAFAFA;
}

.maindashboard {
    position: absolute;
    ;
    margin-left: 274px;
    margin-top: 121px;
    width: 100%;
    font-family: 'roboto';
    font-weight: 500 !important;
}

.dash {
    font-size: 30px;
    color: #000000;
    font-family: 'roboto';
    font-weight: 500;
    margin-bottom: 0px !important;
}

.cards {
    display: flex;
    align-items: center;


}

.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}

.card3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}

.card4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}

.card5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}

.bigfont {
    font-size: 25px;
    font-family: 'roboto';
    font-weight: 500;
    margin-bottom: 0 !important;

}

.smallfont {
    font-size: 15px;
    font-family: 'roboto';
    font-weight: 400;
    margin-bottom: 0 !important;
}

.graph {
    display: flex;
}

.leftgraph {
    margin-top: 30px;

}

.rightgraph {
    margin-top: 30px;
    
}

.chart {
    display: flex;
}

.leftchart {
    width: 800px;
    height: 400px;
}

.rightchart {
    width: 385px;
    height: 400px;
}

.tablefirst {
    color: #ADADAD;
    font-family: 'roboto';
    font-weight: 400;
}

#tab {
    margin-top: 30px !important;
    width: 1137px !important;
    font-size: 15px;
    font-family: 'roboto';
    font-weight: 400;
}

.btndesignpaid {
    border-radius: 5px;
    background-color: #EBFFEF;
    color: #3CDD5F;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.btndesignfail {
    border-radius: 5px;
    color: #FF4545;
    background-color: #FFF5F5;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.btndesignpending {
    border-radius: 5px;
    color: #BABABA;
    background-color: #F8F8F8;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.styleforsale {
    font-size: 22px;
    font-family: 'roboto';
    font-weight: 500;
    padding-left: 30px;
    padding-top: 23px;
    margin-bottom: 27px !important;
}

.leftgraph {
    background-color: #FFFFFF;
    width: 800px;
    height: 400px;
}

.time {
    color: #ADADAD;
    text-decoration: none;

}

#m {
    margin-left: 20px;

}

#y {
    margin-left: 20px;
    margin-right: 30px;
    text-decoration: underline;
    text-decoration-color: #C8242F;
    text-underline-offset: 9px;
}

.dataimage {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 47px;
}

.styleforcountry {
    font-size: 22px;
    font-family: 'roboto';
    font-weight: 500;
    padding-left: 30px;
    padding-top: 23px;
    margin-bottom: 13px !important;
}

.rightgraph {
    background-color: #FFFFFF;
    width: 385px;
    height: 400px;
}

.color1 .color-cont1 {
    display: flex;
}

.r {
    width: 18px;
    height: 18px;
    margin-left: 43px;
    border-radius: 50%;
    background-color: #C8242F;
}

.n1 {
    margin-left: 9px;
    width: 166px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.g {
    margin-left: 26px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #A2B86C;
}

.n2 {
    margin-left: 9px;
    width: 51px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.color-cont2 {
    display: flex;
    margin-top: 18.87px;
}

.o {
    width: 18px;
    height: 18px;
    margin-left: 43px;
    border-radius: 50%;
    background-color: #F16C20;
}

.n3 {
    margin-left: 9px;
    width: 45px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.y {
    margin-left: 147px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #EBC844;
}

.n4 {
    margin-left: 9px;
    width: 33px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.styleforinvoices {
    font-size: 22px;
    font-family: 'roboto';
    font-weight: 500;
    padding-left: 30px;
    padding-top: 23px;
    margin-bottom: 0px !important;
}

.tabledata {
    width: 1217px;
    margin-top: 30px;
    background-color: #FFFFFF;
}
.viewall {
    margin-bottom: 0px!important;
    padding-right: 30px;
    padding-top: 27px;
}
.logo-mobile
{
    display: none!important;
}

@media screen and (min-width:360px) and (max-width:990px) {

    .menudesign {
        margin-left: 10px!important;
        margin-top: 27px;
        width: 24px!important;
      
    }
    .profile {
        margin-left: 22px;
        margin-top: 18px;
        margin-bottom: 18px;
        margin-right: 10px;
    }
    .dropdesign {
        display: none;
    }
    .form-control {
        border: none !important;
        width: 150px !important;
        height: 21px !important;
        outline: none;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .searchicon {
        width: 16px;
        height: 16px;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 20px;
    }
    .logo-mobile {
        width: 30px!important;
        margin-top: 23px;
        margin-left: 15px;
        height: 30px!important;
        display: block!important;
    }
    .logo {
        margin-left: 22px;
        margin-top: 25px;
        margin-bottom: 25px;
        display: none;
        /* background: url('../images/mobile-header-logo.svg')!important; */
    }
 
    .dataimage {
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        width: 100%;
        height: auto;
    }
    .leftgraph {
        background-color: #FFFFFF;
        width: 100%!important;
        height: calc(100% - 30px);
    }
  
    .dash {
        font-size: 30px;
        color: #000000;
        font-family: 'roboto';
        font-weight: 500;
        margin-left: 10px;
        margin-bottom: 0px !important;
    }
    .rightgraph {
        background-color: #FFFFFF;
        width: 100%;
        max-height: 400px;
    }
 
 
    
    .sidebar {
        position: fixed;
        top: 0px;
        width: 100%;
        max-height: 282px;
        background-color: #FFFFFF;
        font-family: 'roboto';
        font-weight: 500;
    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .color1 .color-cont1 {
        display: block;
        /* margin: 0; */
    }
    .r {
        width: 18px;
        height: 18px;
        margin-left: 43px;
        border-radius: 50%;
        background-color: #C8242F;
    }
    .g {
        margin-left: 43px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #A2B86C;
    }
    .o {
        width: 18px;
        height: 18px;
        margin-left: 43px;
        border-radius: 50%;
        background-color: #F16C20;
    }
    .color-cont2 {
        display: block;
        margin-top: 0px;
    }
    .y {
        margin-left: 43px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #EBC844;
    }
    
    .topnavbar {
        width: 100%;
        height: 80px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF !important;
        font-family: 'roboto';
        font-weight: 500
        ;
    }
    .card1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 219px;
        height: 116px;
        background-color: #FFFFFF;
        margin-top: 22px;
        margin-right: 0px!important;
    }
    .card2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 219px;
        height: 116px;
        background-color: #FFFFFF;
        margin-top: 22px;
        margin-right: 0px!important;
    }
    .card3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 219px;
        height: 116px;
        background-color: #FFFFFF;
        margin-top: 22px;
        margin-right: 0px
        ;
    }
    .card4 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 219px;
        height: 116px;
        background-color: #FFFFFF;
        margin-top: 22px;
        margin-right: 0px;
    }
    .card5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 219px;
        height: 116px;
        background-color: #FFFFFF;
        margin-top: 22px;
        margin-right: 0px;
    }
    .graph {
        display: flex;
        flex-wrap: wrap;
    }

    .maindashboard {
        position: absolute;
        margin-left: 0px;
        margin-top: 285px;
        width: 100%;
        font-family: 'roboto';
        font-weight: 500 !important;
        opacity: 0.4;
    }

    .mysidebar1 {
        width: 0px;
        display: none;

    }

    .dashboard2 {
        margin-left: 0px;
    }

    .dashboard1 {
        margin-top: 100px;
        opacity: 1;
    }

    .mysidebar2 {
        width: 100%;
        display: block;
    }

    
    /* .sidebar {
        position: fixed;
        top: 80px;
        width: 100%;
        height: 90vh;
        background-color: #FFFFFF;
        font-family: 'roboto';
        font-weight: 500;
    } */

    .eachsidemenu {
        padding-top: 15px;
    }
    #dashmenu
    {
        padding-top: 10px!important;
    }
    #analysismenu
    {
        padding-top: 10px!important;
    }
    #dashlink
    {
        padding-top:5px!important;
        padding-bottom: 5px!important;
    }
    .tabledata {
        width: 100%!important;
        margin-top: 30px;
        background-color: #FFFFFF;
    }
   
}

@media screen and (min-width:991px) and (max-width: 1559px) {
    .leftgraph {
        background-color: #FFFFFF;
        width: 61%;
        height: 100%;
    }
    .dash {
        font-size: 30px;
        color: #000000;
        font-family: 'roboto';
        font-weight: 500;
        margin-bottom: 0px !important;
        margin-left: 20px;
    }
    .maindashboard {
        position: absolute;
        margin-left: 274px;
        margin-top: 121px;
        width: 73%;
        font-family: 'roboto';
        font-weight: 500 !important;
    }
    .rightgraph {
        background-color: #FFFFFF;
        width: 385px;
        padding-bottom: 30px;
        height: 100%;
    }
    .topnavbar {
        width: 100%;
        height: 80px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF !important;
        font-family: 'roboto';
        font-weight: 500;
    }
    .piechart
    {
        width: 197px!important;
    }
    .dataimage {
        padding-left: 30px;
        padding-bottom: 30px;
        padding-right: 47px;
        width: 100%;
        height: auto;
    }   
   
    .cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    
    .tabledata {
        width: 98%!important;
        margin-top: 30px;
        background-color: #FFFFFF;
    }

    .mysidebar1 {
        width: 0px;
        display: none;

    }

    .mysidebar2 {
        width: 227px;
        display: block;
    }

    .dashboard1 {
        margin-left: 0px;
        width: 100%!important;
    }

    .dashboard2 {
        margin-left: 274px;
    }
    .graph {
        display: flex;
        flex-wrap: wrap;
       flex-direction: row;
    }
    

}

/* @media screen and (min-width:1024px) and (max-width: 1559px) {
    .topnavbar {
        width: 100%;
        height: 80px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF !important;
        font-family: 'roboto';
        font-weight: 500;
    }
    .graph {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .graph {
        display: flex;
        flex-wrap: wrap;
    }

    .mysidebar1 {
        width: 0px;
        display: none;

    }

    .mysidebar2 {
        width: 227px;
        display: block;
    }

    .dashboard1 {
        margin-left: 47px;
    }

    .dashboard2 {
        margin-left: 274px;
    }

}  */
